<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:sport.properties" />
    <bean id="myCoach"
        class="inversionOfControl.BasketballCoach">
        <constructor-arg ref="myFortuneService;" />
        <property name="fortuneService" ref="randomFortuneService;" />
        <property name="className" value="${example.name}" />
    </bean>
    <bean id="myFortuneService;"
        class="inversionOfControl.HappyFortuneService">
    </bean>
    <bean id="randomFortuneService;"
        class="inversionOfControl.RandomFortuneService">
    </bean>
    <bean id="secondFortuneService;"
        class="inversionOfControl.BetterFortuneService">
    </bean>
</beans>